<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LibrarySystem - Cadastro</title>
  <p> Cadastro Livro </p>
</head> 
<body>
  <div class="container">
    <div class="mb-3">
        <p style="color:red" th:text="Livro + ' ' + Já + ' ' + Cadastrado" th:unless="${param.error} == null"></p>  
    </div>
    <div class="row">
      <form action="/livros/cadastrarlivro" method="POST">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input class="form-control" type="text" name="nome">
          </div>
          <div class="mb-3">
            <label class="form-label">Edição</label>
            <input class="form-control" type="text" name="edicao">
          </div>    
        <div class="mb-3">
          <label class="form-label">Quantidade</label>
          <input class="form-control" type="number" name="quantidade">
        </div>
        <div class="mb-3">
        <button class="btn btn-primary" type="submit">Cadastrar Livro</button>
      </form>
    </div>
  </div>

</body>
</html> 